---
title: Page not found - Minetest
---

{% include header.html %}

<div class="jumbotron reduced credits">
  <div class="center">
    <h1>Page not found :(</h1>
  </div>
</div>

<div class="content">
  <img style="float:left;margin: -10px 40px 0 0;"
    src="media/unknown_node.jpg"
    alt="unknown_node">

  <h2>Sorry, we could not find that page!</h2>

  <p>
    Please report any broken links on the
    <a href="https://github.com/minetest/minetest.github.io/issues">issues page
        for this website</a>.
  </p>
</div>

{% include footer.html %}
