---
title: Credits
description: Key contributors and developers behind the Luanti project
layout: default
redirect_from:
- /credits.html
- /contributors/
---

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10 is-9-desktop is-8-widescreen is-7-fullhd content">

        <h1>Credits</h1>

        <h2>Core Team</h2>
        <p>
          The core team consists of contributors with special privileges and
          responsibilities.
        </p>
        <p>
          Core developers decide what can be added to Luanti by voting for
          and against pull requests. They also have commit access to the Luanti
          team's repositories on GitHub.
          <a href="https://dev.minetest.net/Organisation">Learn more.</a>
        </p>

        <h3>Active Core Developers</h3>
        {% include credits_list.html people=site.data.credits.core_developers %}

        <h3>Active Core Team Members</h3>
        {% include credits_list.html people=site.data.credits.core_team %}

        <h3>Previous Core Developers</h3>
        {% include credits_list.html people=site.data.credits.previous_core_developers %}

        <hr>
        <h2>Contributors</h2>
        <p>
          Also see the complete lists of
          <a href="https://github.com/minetest/minetest/graphs/contributors">Luanti</a> and
          <a href="https://github.com/minetest/minetest_game/graphs/contributors">Minetest Game</a>
          contributors.
        </p>

        <h3>Active</h3>
        {% include credits_list.html people=site.data.credits.contributors %}

        <h3>Previous</h3>
        {% include credits_list.html people=site.data.credits.previous_contributors %}

        <p class="has-text-weight-bold">
          More information can be found at
          {% comment %}
          OpenHub seems to be flaky, so ignore it in HTMLProofer link checking.
          {% endcomment %}
          <a href="https://www.openhub.net/p/minetest-c55" data-proofer-ignore>Open Hub</a>.
        </p>
        <p>
          Want to <a href="{{ '/get-involved/#contribute' | relative_url }}">contribute</a>?
        </p>

      </div>
    </div>
  </div>
</section>
