---
title: Get Involved
description: >-
  Learn how to get involved with the community or contribute to development.
layout: default
redirect_from:
  - /get_involved/
  - /community.html
  - /community/
  - /irc.html
  - /irc/
  - /development.html
  - /development/
  - /reporting_issues/
  - /donate/
  - /support/
---

<h1 class="is-sr-only">Get Involved</h1>

<section class="section">
  <div class="container">
    {% assign rows = "community,social" | split: "," %}
    {% for row in rows %}
    <div class="columns is-variable is-8 is-centered iconlist">
      {% for link in site.data[row] %}
      <a class="column is-narrow has-text-centered no-underline hover-enlarge" href="{{ link.url }}">
        <div class="image">
          <img src="{{ '/media/logos/' | append: link.icon | relative_url }}" alt="{{ link.name }} logo">
        </div>
        <span class="title">{{ link.name }}</span>
      </a>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 id="contribute" class="title section-title">Contribute</h2>
    <div class="columns is-centered">
      <div class="column">
        <h3 id="everyone" class="is-size-3">Everyone</h3>
        <div class="content">
          <ul>
            <li>
              <a href="#reporting-issues">Report bugs and request features</a>.
            </li>
            <li>
              Give support on the <a href="https://forum.minetest.net">forums</a> and <a href="https://wiki.minetest.net/IRC">IRC</a>.
            </li>
            <li>
              Help translate Luanti using
              <a href="https://hosted.weblate.org/projects/minetest/minetest/">our web interface</a>.
            </li>
            <li>
              <a href="https://forum.minetest.net/viewtopic.php?f=7&t=19877">Help us review and merge pull requests</a>.
            </li>
            <li>
              <a href="#donate">Donate</a> money to pay for infrastructure, and
              <a href="https://content.minetest.net/donate/">support your favourite contributors</a>.
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <h3 id="programmers" class="is-size-3">Programmers</h3>
        <div class="content">
          <ul>
            <li>
              Work on a <a href="https://dev.minetest.net/Modding_Intro">game or mod</a>
              and publish it to <a href="https://content.minetest.net">ContentDB</a>.
              The <a href="https://rubenwardy.com/minetest_modding_book/">Luanti Modding Book</a>
              provides an easy introduction to creating mods and games.
            </li>
            <li>
              Report bugs and submit patches on
              <a href="https://github.com/minetest">GitHub</a> or <a href="https://wiki.minetest.net/IRC">IRC</a>.
            </li>
            <li>
              Read the <a href="https://dev.minetest.net/Engine">engine</a>
              documentation.
            </li>
            <li>
              For good first tasks, look out for the "good first issue" label on the
              <a href="https://github.com/minetest/minetest/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22">engine</a>
              or
              <a href="https://github.com/minetest/minetest.github.io/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22">website</a>
              repositories.
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <h3 id="artists" class="is-size-3">Artists</h3>
        <div class="content">
          <ul>
            <li>
              Team up and create a new game.
            </li>
            <li>
              Create a
              <a href="https://wiki.minetest.net/Texture_Packs">Texture Pack</a>.
            </li>
            <li>
              Hang around on the forums, and help with
              <a href="https://forum.minetest.net/viewtopic.php?f=47&t=1585">texture requests</a>.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <h2 id="developed" class="title section-title">How is Luanti developed?</h2>
    <div class="content">
      <h3 class="is-size-3">The Process</h3>
      <p>
        Luanti is developed and maintained by a group of volunteers called
        the <a href="https://github.com/orgs/minetest/people">core team</a>,
        consisting of a bunch of people who are trusted to keep Luanti
        progressing in good condition.
        The core team is formed of people who have made great
        <a href="{{ '/credits/' | relative_url }}">contributions</a> to Luanti.
        Contributions are approved if two members of the core team agree on them.
      </p>
      <p>
        All development and decisions are made in public, on
        <a href="https://github.com/minetest">GitHub</a> and
        <a href="https://wiki.minetest.net/IRC">Internet Relay Chat (IRC)</a>.
        Meetings are occasionally held on IRC, with
        <a href="https://dev.minetest.net/Meetings">plans and notes made public</a>.
      </p>
      <p>
        The core team is best contacted on
        <a href="https://wiki.minetest.net/IRC">IRC</a> at
        <code>#minetest-dev @ irc.libera.chat</code>.
      </p>
      <p>
        For more information, take a look at
        <a href="https://dev.minetest.net/All_rules_regarding_to_development">
          all the rules regarding to development
        </a>.
      </p>

      <h3 class="is-size-3">Project Structure</h3>
      <p>
        Luanti is distributed as an engine, combined with a couple of games.
        Upstream repositories can be found at
        <a href="https://github.com/minetest/">https://github.com/minetest/</a>.
      </p>

      <ul>
        <li>
          <strong>The engine</strong> (core) is the base for everything.
          C++ is used for housekeeping and performance-critical stuff,
          Lua for extensible things.
        </li>
        <li>
          <strong>Games</strong> define game content: nodes, entities,
          textures, meshes, sounds and custom behavior implemented in Lua.
          Games consist of mods that plug into the engine using the
          <a href="https://dev.minetest.net/Modding_Intro">Modding API</a>.
        </li>
      </ul>

      <p>
        For more information, see the
        <a href="https://dev.minetest.net/Terminology">terminology</a> or
        <a href="https://dev.minetest.net/Engine">engine overview</a>
        developer wiki pages.
      </p>

      <h3 class="is-size-3">Roadmaps and Future Plans</h3>
      <p>
        As an open source project developed by volunteers, Luanti is
        mostly iteratively developed rather than formally planned. However,
        there are some overarching goals, both medium-term and long-term, that
        have been agreed upon by core developers:
      </p>
      <p>
        <a class="button is-primary"
            href="https://github.com/minetest/minetest/blob/master/doc/direction.md">
          Roadmap
        </a>
      </p>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <h2 id="reporting-issues" class="title section-title">Reporting Issues</h2>
    <div class="content">
      <h3 class="is-size-3">Where?</h3>
      <p>
        Different things related to Luanti are maintained by different people, contacted in different ways. Here you can find where to report issues, bugs and any other kinds of problems regarding to each “product”.
      </p>
      <p>
        People are generally available on Libera <abbr title="Internet Relay Chat">IRC</abbr>, Discord, the Luanti Forums, GitHub and/or via email.
      </p>
      <table class="table is-striped">
        <tr>
          <th>Program</th>
          <th>People Responsible</th>
          <th>Source</th>
          <th>Issue Tracker</th>
        </tr>
        <tr>
          <td>Luanti Engine</td>
          <td>Core developers</td>
          <td>
            <a href="https://github.com/minetest/minetest">Source</a>
          </td>
          <td>
            <a href="https://github.com/minetest/minetest/issues">Issues</a>
          </td>
        </tr>
        <tr>
          <td>Minetest Game</td>
          <td>Core developers</td>
          <td>
            <a href="https://github.com/minetest/minetest_game">Source</a>
          </td>
          <td>
            <a href="https://github.com/minetest/minetest_game/issues">Issues</a>
          </td>
        </tr>
        <tr>
          <td>Minetestmapper</td>
          <td>Core developers</td>
          <td>
            <a href="https://github.com/minetest/minetestmapper">Source</a>
          </td>
          <td>
            <a href="https://github.com/minetest/minetestmapper/issues">Issues</a>
          </td>
        </tr>
        <tr>
          <td>Blender B3DExport</td>
          <td>Core developers</td>
          <td>
            <a href="https://github.com/minetest/B3DExport">Source</a>
          </td>
          <td>
            <a href="https://github.com/minetest/B3DExport/issues">Issues</a>
          </td>
        </tr>
        <tr>
          <th>Service</th>
          <th>People Responsible</th>
          <th>Source</th>
          <th>Issue Tracker</th>
        </tr>
        <tr>
          <td>*.minetest.net DNS</td>
          <td>celeron55</td>
          <td>n/a</td>
          <td>Contact celeron55. His approval is needed to host under minetest.net</td>
        </tr>
        <tr>
          <td>www.minetest.net</td>
          <td>celeron55</td>
          <td><a href="https://github.com/minetest/minetest.github.io">Source</a></td>
          <td><a href="https://github.com/minetest/minetest.github.io/issues">Issues</a></td>
        </tr>
        <tr>
          <td>forum.minetest.net</td>
          <td>celeron55</td>
          <td><a href="https://github.com/minetest/forum.minetest.net_template1">Theme</a></td>
          <td>Contact a moderator for concerns about content (Use "report this post" if possible)</td>
        </tr>
        <tr>
          <td>wiki/dev.minetest.net</td>
          <td>celeron55</td>
          <td><a href="https://www.mediawiki.org">MediaWiki</a></td>
          <td>
            <a href="https://forum.minetest.net/viewtopic.php?f=3&t=10473">Ask for an account to edit</a>
            or report issues <a href="https://forum.minetest.net/viewforum.php?f=3">on the forum</a>
          </td>
        </tr>
        <tr>
          <td>servers.minetest.net</td>
          <td>sfan5</td>
          <td><a href="https://github.com/minetest/serverlist">Source</a></td>
          <td><a href="https://github.com/minetest/serverlist/issues">Issues</a></td>
        </tr>
        <tr>
          <td>content.minetest.net</td>
          <td>rubenwardy</td>
          <td><a href="https://github.com/minetest/contentdb">Source</a></td>
          <td><a href="https://github.com/minetest/contentdb/issues">Issues</a></td>
        </tr>
        <tr>
          <td>irc.minetest.net</td>
          <td>sfan5</td>
          <td><a href="https://github.com/moritz/ilbot">Source</a></td>
          <td>Contact sfan5</td>
        </tr>
        <tr>
          <td><a href="https://play.google.com/store/apps/details?id=net.minetest.minetest">Google Play</a></td>
          <td>nerzhul aka. nrzkt</td>
          <td>n/a</td>
          <td>Contact nerzhul</td>
        </tr>
      </table>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <h2 id="donate" class="title section-title">Donate</h2>
    <div class="content">
      <p>
        Luanti doesn't have a legal body to accept donations, and most core
        developers do not wish to accept donations
        <a href="https://github.com/minetest/minetest.github.io/issues/222">themselves</a>.
      </p>

      <h3 class="is-size-3">Luanti <span class="is-size-5 has-text-grey has-text-weight-normal">(team)</span></h3>
      <p>
        The Liberapay team allows you to support multiple members at the same
        time.
      </p>
      <p>
        <a class="button is-primary" href="https://liberapay.com/luanti/">Liberapay</a>
      </p>

      <h3 class="is-size-3">celeron55 <span class="is-size-5 has-text-grey has-text-weight-normal">(founder)</span></h3>
      <p>
        You can tip money to celeron55.
        He is the original creator of Luanti, and hosts the forums and wikis.
        While he isn't involved in active development, he plays an advisory
        role and breaks ties.
      </p>
      <p>
        <a class="button is-primary" href="https://liberapay.com/celeron55/">Liberapay</a>
        <a class="button is-secondary" href="https://paypal.me/celeron55">Paypal</a>
      </p>

      <h3 class="is-size-3">Other</h3>
      <p>
        Your favourite server or content creator might accept tips too; make sure to
        check those out.
      </p>
      <p>
        <a class="button is-primary" href="https://content.minetest.net/donate/">
          Find packages to support on ContentDB
        </a>
      </p>
    </div>
  </div>
</section>
