---
title: Minetest
---

{% include header.html %}

<div class="jumbotron">
  <div class="center">
  <h1>Meet Minetest.</h1>
  <h3>A free, open source, cross-platform Minecraft-style game. Fully extendable.</h3>
  <p><a class="btn btn-primary" href="#about">Tell me more</a> <a class="btn btn-success" href="#about">Download</a></p>
  <p><small><strong>News:</strong> 0.4.12 released (released on February 18<sup>th</sup> 2015)</small></p>
  </div>
</div>

<div class="content">
  <h2>Lean and fast.</h2>

  <p>
    Powered by the <a href="//irrlicht.sourceforge.net/">Irrlicht Engine</a>,
    Minetest delivers great performance on all kinds of systems.
  </p>

  <h2>Freedom to play.</h2>

  <p>
    Minetest is both gratis and libre. This means you can download it at no
    cost, and you have the freedom to use it for any purpose, to study how it
    works, distribute copies of it and to distribute modified copies.
  </p>

  <h2>Infinitely moddable.</h2>

  <p>
    With its Lua-powered modding support, accelerated by LuaJIT, Minetest lets
    you play and create mods in unexpected ways. You can install mods that just
    add decorative blocks, but you can also get mobs, transportation systems,
    additional chat commands and much more.
  </p>
</div>

{% include footer.html %}
