---
title: Press Kit / Posters
layout: default
---

<h1 class="title main-title">{{ page.title }}</h1>

<section class="section">
  <div class="container">
    <h2 id="branding" class="title">Branding</h2>
    <div class="columns">
      <div class="column content">
        <h3 id="colors">Colors</h3>
        <dl class="is-horizontal">
          <dt>Primary</dt>
          <dd><span class="tag is-black" style="background-color: #53ac56;">#53ac56</span></dd>
        </dl>
      </div>
      <div class="column content">
        <h3 id="logo">Logo</h3>
        <ul>
          <li>
            <a href="https://raw.githubusercontent.com/minetest/minetest/master/misc/minetest.svg">
              Color .SVG
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section" style="background-color: #f0f0f0;">
  <div class="container">
    <h2 id="resources" class="title">Resources</h2>

    <div class="columns is-multiline">
      {% for point in site.data.press.resources %}
        <a class="column is-one-third hover-enlarge" href="{{ point.url }}" rel="nofollow">
          <div class="card">
            {% assign fit = point.fit | default: 'contain' %}
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/media/press/{{ point.img }}"
                  class="{% if fit == 'contain' %}p-4{% endif %}"
                  style="object-fit: {{ fit }}; background: #333;"
                  alt="{{ point.img_alt | default: point.title }}">
              </figure>
            </div>
            <div class="card-content">
              <h3 class="title is-4">{{ point.title }}</h3>
              <h6 class="subtitle is-6">{{ point.author }}</h6>
              <p>
                {{ point.para }}
              </p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
