    </div>

    <footer>
      <p>
        © 2015 The Minetest Team<br>
        Site content under CC BY-SA 3.0 Unported.
      </p>
      <p>
        <a href="https://github.com/minetest/minetest.github.io">Website developed at GitHub.</a>
      </p>
    </footer>

    <script src="lib/js/jquery.min.js"></script>
    <script src="lib/js/jquery.smooth-scroll.min.js"></script>
    <script src="lib/js/jquery.goup.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="lib/js/fastclick.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
