    </div>

    <footer>
      <p>
        ©  {{ site.time | date: '%Y' }} The Minetest Team<br>
        Site content under CC BY-SA 3.0 Unported.
      </p>
      <p>
        <a href="https://github.com/minetest/minetest.github.io">Website developed at GitHub.</a>
      </p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/lib/js/jquery.smooth-scroll.min.js"></script>
    <script src="/lib/js/jquery.goup.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
    <script src="/lib/js/fastclick.min.js"></script>
  </body>
</html>
