<noscript>
  <p>
    <img src="https://stats.minetest.net/piwik.php?idsite=1" style="border:0;" alt="" data-proofer-ignore>
  </p>
</noscript>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ '/' | relative_url }}">
        <img alt="Luanti logo" src="/media/icon.svg">
        <div class="has-text-weight-bold navbar-brand-text">Luanti</div>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ '/#features' | relative_url }}">Features</a>
        <a class="navbar-item" href="{{ '/#gallery' | relative_url }}">Gallery</a>
        <a class="navbar-item" href="{{ '/downloads/' | relative_url }}">Download</a>
        <a class="navbar-item" href="https://content.minetest.net">ContentDB</a>
        <a class="navbar-item" href="https://blog.minetest.net/">Blog</a>
        <a class="navbar-item" href="{{ '/get-involved/' | relative_url }}">Get Involved</a>
        <a class="navbar-item" href="{{ '/education/' | relative_url }}">Education</a>
      </div>
    </div>
  </div>
</nav>
