<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.min.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <div id="top"></div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="//minetest.net">
            <img alt="Minetest" src="favicon-96x96.png" height="260%">
          </a>
          <a class="navbar-brand" href="//minetest.net">
            Minetest
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="index.html#about">About</a></li>
                 <li><a href="index.html#features">Features</a></li>
                 <li><a href="index.html#gallery">Gallery</a></li>
                 <li role="separator" class="divider"></li>
                 <li><a href="downloads.html">Download</a></li>
               </ul>
             </li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customize <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="customize.html#subgames">Subgames</a></li>
                  <li><a href="customize.html#mods">Mods</a></li>
                  <li><a href="customize.html#texture-packs">Texture Packs</a></li>
                  <li><a href="#">Forum: Subgames ↗</a></li>
                  <li><a href="#">Forum: Mods ↗</a></li>
                  <li><a href="#">Forum: Texture Packs ↗</a></li>
                </ul>
              </li>
              <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li><a href="community.html">Overview</a></li>
                   <li><a href="https://forum.minetest.net">Forum ↗</a></li>
                   <li><a href="//wiki.minetest.net">Wiki ↗</a></li>
                   <li><a href="community.html#irc">IRC</a></li>
                   <li><a href="https://reddit.com/r/minetest">Subreddit ↗</a></li>
                   <li><a href="credits.html">Contributors</a></li>
                   <li><a href="//servers.minetest.net">Servers ↗</a></li>
                 </ul>
               </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Development <span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="development.html">Overview</a></li>
                 <li><a href="development.html#reporting-issues">Reporting issues</a></li>
                 <li><a href="development.html#donate">Donate</a></li>
                 <li><a href="https://github.com/minetest">GitHub ↗</a></li>
                 <li><a href="//dev.minetest.net">Developer wiki ↗</a></li>
                 <li><a href="//dev.minetest.net/API">API ↗</a></li>
                 <li><a href="//c55.me/blog/">Blog ↗</a></li>
               </ul>
             </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
