<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    {{ page.title }}
    {% unless page.title_append == false %}- Luanti {% endunless %}
</title>
<link rel="canonical" href="https://www.minetest.net{{ page.url }}">
<meta name="og:url" content="https://www.minetest.net{{ page.url }}">
<meta name="og:title" content="{{ page.title | escape }}">
<meta name="og:site_name" content="Luanti">
{% if page.description %}
  <meta name="og:description" content="{{ page.description | escape | strip }}">
  <meta name="description" content="{{ page.description | escape | strip }}">
{% endif %}
{% if page.image %}
  <meta name="og:image" content="{{ page.image | absolute_url }}">
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ '/media/favicon/57x57.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ '/media/favicon/60x60.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ '/media/favicon/72x72.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ '/media/favicon/76x76.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ '/media/favicon/114x114.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ '/media/favicon/120x120.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ '/media/favicon/144x144.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ '/media/favicon/152x152.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/media/favicon/180x180.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/media/favicon/32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="194x194" href="{{ '/media/favicon/194x194.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/media/favicon/96x96.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/media/favicon/192x192.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/media/favicon/16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ '/media/favicon/144x144.png' | relative_url }}">
<meta name="theme-color" content="#ffffff">
<script defer src="{{ '/assets/js/main.js' | relative_url }}"></script>
<script defer>
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);
  (function() {
    var u="//stats.minetest.net/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", 1]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0];
    g.type="text/javascript"; g.async=true; g.defer=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
