// This file is included *before* the main Bulma styles so that
// variables can be overridden

$blue: hsl(208, 55%, 45%);
$green: hsl(122, 35%, 50%);

$primary: $green;
$info: $blue;
$link: $primary;
$link-hover: $primary;
$footer-background-color: hsl(0, 0%, 16%);
$code: hsl(0, 0%, 16%);

$family-sans-serif: "Titillium Web", sans-serif;
