$footer-link-color: $white-ter;

.footer {
  margin-top: 2rem;
  color: $grey-light;

  // Needs to end with `:not(.navbar-item)` to override `a:not(.navbar-item)`
  // from `main.scss`
  a:not(.navbar-item) {
    color: $footer-link-color;
    border-bottom: 1px solid transparentize($footer-link-color, 0.8);

    &:hover {
      background-color: transparentize($footer-link-color, 0.9);
    }

    &:active {
      background-color: transparentize($footer-link-color, 0.8);
    }
  }
}

.footer-copyright {
  margin-top: 2.25rem;
  text-align: center;
}
