// Navigation bar

.navbar {
  font-size: 1.05rem;
  box-shadow: 0 2px 3px 0 transparentize($black, 0.8);
  border-top: 3px solid $primary;
}

// Replicate the hovered navbar item style on the brand,
// as it's also a navigation item
.navbar-brand:hover {
  background-color: $navbar-item-hover-background-color;
}

.navbar-brand-text {
  margin-left: 1rem;
}
