{% include header.html %}

<div class="jumbotron">
  <div class="center">
    <h1>Meet Minetest.</h1>
    <p>
      An open source voxel game engine.
      Play one of our many games, mod a game to your liking, make your own game,
      or play on a multiplayer server.
    </p>
    <p>
      Available for Windows, macOS, GNU/Linux, FreeBSD, and Android.
    </p>
    <p><a class="btn btn-primary btn-lg" href="#features">Tell me more</a> <a class="btn btn-success btn-lg" href="/downloads/">Download</a></p>
    <p><small><strong>News:</strong> 0.4.16 released. (June 3<sup>rd</sup> 2017)</small></p>
  </div>
</div>

<div class="content">
	{{ content }}
</div>

{% include footer.html %}
