// jumbotron.styl: Jumbotron

.jumbotron
  background-image url("../media/background-home.png")
  background-size cover
  border-radius 0 !important
  color #fff
  padding-top 25vh
  margin 0 -15px !important
  height 100vh
  min-height 60rem
  text-shadow 0 0 .5rem #000

  .btn
    margin 4rem 4rem 0 4rem
    font-size 2rem
    transition .15s

  &.reduced
    padding-top 5rem
    height 25vh
    min-height 30rem

  &.downloads
    background-image url("../media/background-downloads.png")

  &.community
    background-image url("../media/gallery/1.png")

  &.credits
    background-image url("../media/gallery/2.png")

  &.customize
    background-image url("../media/gallery/3.png")

  &.irc
    background-image url("../media/gallery/4.png")

  &.development
    background-image url("../media/gallery/5.png")
