@import "fonts"

::-moz-selection
  background-color hsl(100, 35%, 45%)
  color hsl(0, 0%, 100%)

::selection
  background-color hsl(100, 35%, 45%)
  color hsl(0, 0%, 100%)

body
  background-color #f2f2f2
  cursor default
  font-family "Titillium Web Regular", sans-serif

p, li
  font-size 1.6rem

h1
  font-weight bold
  font-size 5rem

h2
  font-weight bold
  text-transform uppercase
  font-size 2rem

h3
  font-size 3rem

footer
  background-color hsl(0, 0%, 20%)
  color hsl(0, 0%, 60%)
  text-align center
  padding 3rem 0
  margin-top 3rem

.content
  margin 0 20%

  a
    color hsl(100, 35%, 45%)
    border-bottom 1px solid hsl(100, 35%, 45%)
    transition .15s

    &:hover,
    &:focus
      color hsl(100, 35%, 35%)
      border-bottom 1px solid hsl(100, 35%, 35%)
      text-decoration none

    &:active
      color hsl(100, 35%, 25%)
      border-bottom 1px solid hsl(100, 35%, 25%)

.jumbotron
  background-image url("../media/background.png")
  background-attachment fixed
  background-size cover
  border-radius 0 !important
  color #fff
  padding-top 25vh
  margin 0 -15px !important
  height 100vh

  .btn
    margin 4rem 4rem 0 4rem
    font-size 2rem
    transition .15s

.center
  text-align center

@media (max-width 992px)
  .content
    margin 0 10%

@media (max-width 768px)
  .content
    margin 0 5%

@media (max-width 480px)
  .content
    margin 0 2%
